<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <link href="~/css/adminpanel.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <title>@ViewData["Title"] MellysUndergroundCuisine</title>
</head>
<body>
    <div class=container-fluid m-0 p-0>
        <div class="row m-0 p-0">
            <div class=" col-12 col-lg-2 ">
                <section id="itsFixed">
                    <partial name="SidePanel" />
                </section>
            </div>
            <div class="col-12 col-lg-10 main">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>