@using DAL.Entities
@model List<Dish>


<h1>Create Your Menu</h1>

<div class="d-xl-flex m-1">

    @if (Model is null)
    {
        <p> Nothing here to see</p>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="card bg-black text-white m-1" style="max-width: 18rem;">

                <div class="card-header text-white">
                    @item.Name
                    <form>
                        <input type="checkbox" id="@item.Name" class="cb text-white" />
                    </form>
                </div>
                <img class="card-img-top" src="@item.FilePath" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">@item.Information </p>
                </div>
            </div>
        }
    }
</div>
<script>
    let quantity;
    let checkboxElems = document.querySelectorAll("input[type='checkbox']");

    for (let i = 0; i < checkboxElems.length; i++) {
        checkboxElems[i].addEventListener("click", displayCheck);
    }

    function displayCheck(e) {
        if (e.target.checked) {
            let input = prompt("How many servings per dish do you required? Please put answer in whole numbers etg(45)");
            quantity = parseInt(input);
            
            if (isNaN(quantity)) {
                do {
                    input = prompt("I need a whole number for the quantity such as 1 or 43, the amount of servings for the dish. Guess if you don't know");
                    quantity = parseInt(input);
                }while(isNaN(quantity))                            
            }
        }
    }
</script>

@section Styles {
    <link href="/css/adminmenu.css" rel="stylesheet" type="text/css" />
}