@using Mellys_Underground_Cuisine.Models.ViewModels
@model DishVM

<section class="vh-100">

    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Edit Dish</h2>
                            <form asp-action="EditDish" asp-controller="Admin" enctype="multipart/form-data" method="post">
                                <div class="val" asp-validation-summary="All"></div>
                                <input hidden asp-for="@Model.Id" />
                                <div class="form-outline mb-4">
                                    <input asp-for="Name" class="form-control form-control-lg" />
                                    <label class="form-label" asp-for="Name">Dish Name</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input asp-for="Description" class="form-control form-control-lg" />
                                    <label asp-for="Description" class="form-label">DishInformation</label>
                                </div>

                                <div class="form-outline  mb-4">
                                    <input asp-for="Price" class="form-control form-control-lg" />
                                    <label asp-for="Price" class="form-label">Price</label>
                                </div>

                                <div class="form-outline  mb-4">
                                    <h4>If not changing image leave this blank</h4>
                                    <input asp-for="FoodImage" class="form-control form-control-lg" />
                                    <label asp-for="FoodImage" class="form-label">Browse</label>
                                </div>

                                <div class="form-outline  mb-4">
                                    <p>Please select your Dish type:</p>
                                    <input type="radio" id="food" name="DishType" value="food">
                                    <label for="food">Food</label><br />
                                    <input type="radio" id="snack" name="DishType" value="snack">
                                    <label for="snack">Snack</label><br />
                                    <input type="radio" id="dessert" name="DishType" value="dessert">
                                    <label for="dessert">Dessert</label><br />
                                    <input type="radio" id="Drink" name="DishType" value="drink">
                                    <label for="drink">Drink</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" id="DishButton"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        Edit Dish
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Styles {
    <link href="/css/Register.css" rel="stylesheet" type="text/css" />
}

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/adminpanel.js"></script>
    }
 }
