<nav>
    <ul>
        <li class="logo"><img src="~/images/melysSmallLogo.jpg"></li>
        <li><a asp-action="Index" asp-controller="Admin"><i class="fa fa-home"></i>&nbsp;  Home</a></li>
        <li><a asp-action="AddDish" asp-controller="Admin"><i class="fa fa-book"></i>&nbsp;  Add Dish</a></li>
         <li><a asp-action="CreateMenu" asp-controller="Admin"><i class="fa fa-users"></i>&nbsp;  Create Menu</a></li>
        <li><a asp-action="Logout" asp-controller="Accounts"><i class="fa fa-phone"></i>&nbsp; Logout</a></li>
    </ul>
</nav>


@section Scripts {
    <script src="~/js/adminpanel.js"></script>
}
