.card-header {
  position: relative;
}
.card-header .cb {
  position: absolute;
  right: 5%;
  top: 15%;
  height: 2rem;
  width: 2rem;
}
.card-header .cb:checked {
  accent-color: #ff9ff6;
  color: white !important;
}

inpug[type=checkbox] {
  accent-color: #ff9ff6;
  color: white !important;
}
